/* Aplica estilos específicos a cada bloque de contenido */
body {
    margin: 0;
    padding: 0;
    background-image: url(Imagenes/ImgGojo.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: 100% 100%;
}
.header {
    background-color: rgb(128, 23, 128);
    color: white;
    text-align: center;
}
.content {
    display: flex;
    justify-content: space-around;
    margin: 20px;
}
.section {
    background: linear-gradient(to right, rgb(18, 65, 167), rgb(184, 33, 33));
    border-radius: 30px;
    padding: 25px;
    width: 50%;

}
.footer {
    background-color: rgb(128, 23, 128);
    color: white;
    text-align: center;
    padding: 5px;
    position: fixed;
    bottom: 0;
    width: 100%;
}